*{
  margin: 0;
  padding: 0;
  border: none;
}
a{
  text-decoration: none;
}
body{
  font-family: 'Raleway',sans-serif;
  overflow-x: hidden;

}
button{
  cursor: pointer;
}
input{
  outline: none;
}
.container{
  width: 90%;
  margin: 0 auto;
}
html{
  overflow-x: hidden;
}
